* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --twitter: #1da1f1;
  --hover: #e8f5fd;
  --border: lightgray;
}

.container {
  height: 100vh;
  width: auto;

  display: grid;
  grid-template: "left-content main-content right-content "/ 300px 1fr 350px;
}

/* LEFT SIDE */
.left-content {
  display: grid;
  grid-template:
    "logo" 50px
    "navigation" auto
    "tweet" 135px
    "user" 90px /
    1fr;

  border: 0.3px solid var(--border);

  padding-top: 15px;
  padding-left: 80px;
}

.logo {
  grid-area: logo;
  padding-left: 10px;
}

.logo:hover img {
  background-color: var(--hover);
  border-radius: 25px;
}
.navigation {
  grid-area: navigation;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-right: 35px;
  display: grid;
  grid-gap: 5px;
}

.home,
.explore,
.notifications,
.messages,
.bookmarks,
.lists,
.profile,
.more {
  display: grid;
  grid-template: "nav-svg a" / 40px auto;
  grid-gap: 7px;
}

.nav-svg {
  display: grid;
  place-self: center;
}

.navigation a:hover,
.home:hover,
.explore:hover,
.notifications:hover,
.messages:hover,
.bookmarks:hover,
.lists:hover,
.profile:hover,
.more:hover {
  background-color: var(--hover);
  border-radius: 25px;
}

.navigation a:hover {
  color: var(--twitter);
}

.navigation a {
  display: grid;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  color: black;
}

.tweet {
  grid-area: tweet;
}

.tweet a {
  display: grid;
  margin-right: 13px;
  padding: 13px;
  justify-content: center;
  border-radius: 22px;
  background-color: var(--twitter);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.tweet a:hover {
  background-color: #1c92da;
}

.user {
  grid-area: user;
  display: grid;
  grid-template: "person-img username dots-svg" / 50px auto 30px;
  margin: 15px 15px;
}

.user:hover {
  background-color: var(--hover);
  border-radius: 25px;
}

.username {
  display: grid;
  grid-template-columns: auto;
  margin-top: 10px;
  justify-content: flex-start;
  align-content: start;
  grid-gap: 2px;
  margin-left: 10px;
}

.username .name {
  place-self: center;
  font-weight: bold;
}

.username .nickname {
  justify-self: top;
  color: var(--border);
}

.dots-svg {
  height: 20px;
}

.person-img {
  align-content: flex-start;
  height: 50px;
  border-radius: 50%;
}

.logo img {
  height: 25px;
}

.nav-svg {
  height: 25px;
}

/* MAIN SECTION */

.main-content {
  display: grid;
  grid-template:
    "home-card" 50px
    "tweet-section" 90px
    "tweet-card" 1fr
    /
    1fr;

  border: 0.3px solid var(--border);
  overflow: scroll;
}

/* home card */
.home-card {
  grid-area: home-card;
  display: grid;
  grid-template: "home-text svg-home" / 1fr 40px;

  padding-top: 20px;
  border: 0.3px solid var(--border);
  /* position: sticky;
  top: 0; */
}

.home-text {
  grid-area: home-text;
  margin-left: 20px;
}

.svg-home {
  grid-area: svg-home;
}
/* TWEET SECTION */
/* .tweet-section {
} */

.tweethead {
  border: 1px solid var(--border);
  padding-bottom: 4px;
}
.tweethead-one {
  display: grid;
  grid-template-columns: 70px 1fr;
}
.tweethead img {
  border-radius: 50%;
  margin: 10px;
}
.tweethead input {
  border: none;

  font-size: 18px;
  margin-top: 0px;
  padding: 12px;
  margin-left: 5px;
}
.tweethead-two {
  display: flex;
  padding-bottom: 5px;
}
.tweethead-two div {
  flex: 2.5;
  margin-left: 90px;
  align-self: center;
}
.tweethead-two div svg {
  margin-right: 10px;
  transition: 0.2s;
}
.tweethead-two div svg:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px var(--hover);
  background-color: var(--hover);
}
.tweethead-two button {
  border: none;
  border-radius: 20px;
  padding: 12px 18px;
  font-size: 16px;
  background-color: var(--twitter);
  color: #fff;
  margin-right: 20px;
  font-weight: bolder;
}
.tweethead-two button:active {
  background-color: var(--twitter);
}

.tweet-one {
  border: 2px solid var(--border);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 12px;
  transition: 0.2s;
  padding-right: 15px;
}

.tweet-one:hover {
  background-color: #f7f7f7;
}

/* .tweet-text span{
   
    color: var(--special-yellow);

} */

.top-info {
  padding: 10px;
  padding-left: 50px;
  color: #6e767d;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 15px auto;
  align-content: center;
}
.top-info span {
  padding-left: 10px;
}

.twitter-content {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding-bottom: 10px;
}

.twitter-content-two {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 5px;
  padding-left: 5px;
}

.profile-info {
  display: grid;
  grid-template-columns: 90% 10%;
}

.blue-dots {
  padding: 5px;
  color: grey;
  display: flex;
  justify-self: center;
  border-radius: 50%;
  transition: 0.2s;
}
.blue-dots:hover {
  color: #1ea2f2;
  background-color: #e4eff7;
  cursor: pointer;
}

.top-info,
.tweet-text {
  margin-top: -7px;
}

.top-info,
.tweet-text img {
  border-radius: 20px;
  margin-top: 10px;
}
.account-profile {
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.tweet-img {
  width: 100%;
}

.tweet-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 5px;
}
.tweet-footer div {
  display: grid;
  grid-template-columns: 22% 78%;
  align-items: center;
}
.tweet-footer span {
  font-size: 15px;
  color: lightgrey;
}
.tweet-footer svg {
  border-radius: 50%;
  transition: 0.2s;
}
.tweet-footer .blue:hover svg {
  box-shadow: 0px 0px 0px 7px#6cb9d830;
  background-color: #6cb9d830;
}
.tweet-footer .blue:hover span {
  color: cyan;
}
.tweet-footer .green:hover svg {
  box-shadow: 0px 0px 0px 7px#89f0d630;
  background-color: #89f0d630;
}
.tweet-footer .green:hover span {
  color: rgb(68, 212, 68);
}
.tweet-footer .pink:hover svg {
  box-shadow: 0px 0px 0px 7px#f089b030;
  background-color: #f089b030;
}
.tweet-footer .pink:hover span {
  color: rgb(243, 31, 73);
}

/* Right Content */
.right-content {
  display: grid;
}

.search-form {
  margin: 20px;
  /* height: 30px;
  display: grid;
  grid-template: "search-svg searc-input"; */
}

.search-svg {
  grid-area: search-svg;
}

.search-input {
  grid-area: search-input;
  background-color: #eceef0;
  border: none;
  color: grey;
  height: 30px;
  border-radius: 20px;
  padding: 24px;
  width: 100%;
}

/* .search-input:active {
  border: 1px solid var(--twitter);
  border-radius: 20px;
} */
.search-input:focus {
  outline: none;
  border: 1px solid var(--twitter);
  background-color: #fff;
}
