* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --twitter: #1da1f1;
  --hover: #e7feff;
}

.container {
  height: 100vh;
  width: auto;

  display: grid;
  grid-template: "left-content main-content right-content "/ 300px 1fr 350px;
}

/* LEFT SIDE */
